<div class="card question-container">
    <div class="card-body">
      <h5 class="card-title">Question Text</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="created-by"><b>created by:</b> John</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Answer 1
        <p class="created-by"><b>answered by:</b> Zack</p>
      </li>
      <li class="list-group-item">Answer 2
        <p class="created-by"><b>answered by:</b> Zeff</p>
      </li>
      <li class="list-group-item">Answer 3
        <p class="created-by"><b>answered by:</b> Synder</p>
      </li>
     
    </ul>
  </div>