 <div class="card question-container">
    <div class="card-body">
      <h5 class="card-title">{{question.question}}</h5>
      <p class="card-text">{{question.questionDescription}}</p>
      <p class="created-by"><b>created by:</b> {{question.createdBy}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let answer of question.answers">{{answer.answer}}
        <p class="created-by"><b>answered by:</b> {{answeredBy}}</p>
      </li>     
    </ul>
  </div> 