  <div class="card question-container" *ngIf="question!=null">
    <div class="card-body">
      <h5 class="card-title">{{question.question}}</h5>
      <p class="card-text">{{question.questionDescription}}</p>
      <p class="created-by"><b>created by:</b> {{question.createdBy}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"  *ngFor="let answer of question.answers">{{answer.answer}}
        <p class="created-by"><b>answered by:</b> {{answer.answeredBy}}</p>
        <p class="created-by"><b>answered on:</b> {{answer.answeredOn}}</p>
      </li>     
    </ul>
    <form class="ans" [ngStyle]="{display:!canAnswer?'none':true}">
      <textarea type="text"  name="answer" class="form-control" placeholder="answer" [(ngModel)]="answer" required></textarea>
      <br>
      <button class="btn btn-primary btn-md"  (click)="addAnswer()">Add answer</button>
    </form>
  </div> 