<div class="card question-container jumbotron" [routerLink]="['/question']">
    <div class="card-body">
      <h5 class="card-title">Question Text</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="created-by"><b>created by:</b> john</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Number of answers: 3</li>
    </ul>
  </div>

  <div class="card question-container jumbotron" [routerLink]="['/question']">
    <div class="card-body">
      <h5 class="card-title">Question Text</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="created-by"><b>created by:</b> john</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Number of answers: 3</li>
    </ul>
  </div>

  <div class="card question-container jumbotron" [routerLink]="['/question']">
    <div class="card-body">
      <h5 class="card-title">Question Text</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="created-by"><b>created by:</b> john</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Number of answers: 3</li>
    </ul>
  </div>