
<nav class="navbar fixed-top navbar-expand-lg navbar-light nav-style jumbotron">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link nav-option" [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" >Home </a>
      </li>  
    </ul>

    <h3 class="navbar-brand brand" href="#">Q-A-Forum</h3>

    <form class="form-inline my-2 my-lg-1 mr-2">
      <input [(ngModel)]="searchtext" type="text" name="Search" class="form-control mr-sm-2" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSearch()">Search</button>
    </form>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <button class="btn btn-primary mr-2" type="submit" [routerLink]="['/login']" [ngStyle]="{'display':disableLoginAndRegister?'none':''}">Login</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-info mr-2" type="submit" [routerLink]="['/register']" [ngStyle]="{'display':disableLoginAndRegister?'none':''}">Register</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger mr-2" type="submit" (click)="onLogout()"  [ngStyle]="{'display':!disableLoginAndRegister?'none':''}">Logout</button>
      </li>
    </ul>
  </div>
</nav>
<div id="outlet">
<router-outlet></router-outlet>
</div>
