.brand{
    margin-right: 20%
}
.nav-option{
    font-size: 20px;
}

.nav-style{
    position: fixed; 
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 10px;
} 
#outlet{
    margin-top:150px ;
}
.profile-name{
    padding: 10px;
}