<div class="container">
<div class="row" id="home-container">
    <div class="col-sm-6">
        <h2 class="header">Question Answer Forum</h2>
        <p class="description">In March 2010, Quora, Inc. was valued at $86 million.[6] Quora first became available to the public on June 21, 2010, and was praised for its interface and for the quality of the answers written by its users, many of whom were recognized as experts in their fields.[6] Quora's user base increased quickly, and by late December 2010, the site was seeing spikes of visitors five to ten times its usual load—so much that the website initially had difficulties handling the increased traffic.[10] Until 2018, Quora did not show ads because "...ads can often be negative for user experience. Nobody likes banner ads, ads from shady companies, or ads that are irrelevant to their needs."[3]

            In June 2011, Quora redesigned the navigation and usability of its website.</p>
    </div>
    <div class="col-sm-6 img">
        <img src='../../assets/home.png' width="100%" height="500px">
    </div>
</div>
</div>