
    <div class="jumbotron">         
        <input type="text" id="firstname"  name="username" class="form-control" placeholder="firstname"><br>
        <input type="text" id="lastname"  name="lastname" class="form-control" placeholder="lastname"><br>
        <input type="text" id="email"  name="email" class="form-control" placeholder="email"><br>
        <input type="text" id="password"  name="password" class="form-control" placeholder="password"><br>
        <button class="btn btn-md btn-primary">register</button>
    </div>
 